In [1]:
import pandas as pd
pd.__version__

'2.2.3'

In [ ]:
names = ['chlorhexidine', 'cyntomycin', 'afobazol']
counts = [15, 18, 7]

import pandas as pd

def create_medications(names, counts):
    return pd.Series(data = counts, index = names)

medications = create_medications(names, counts)
print(medications)

def get_percent(medications, name):
    percent = (medications.loc[name]/(medications.iloc[0]+medications.iloc[1]+medications.iloc[2]))*100
    return percent

print(get_percent(medications, "chlorhexidine"))

In [ ]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

#print(countries_df)
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

display(countries_df.mean(axis=0, numeric_only=True))
display(countries_df.population)

display(countries_df.loc['UK', 'area'])
display(countries_df.loc['RU', ['population', 'area']])
display(countries_df.loc[['UA', 'BY', 'KZ'],['population', 'area']])
display(countries_df.iloc[4:8, 1:3])

In [ ]:
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

import pandas as pd

def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        },
        index = years
    )
    return df
def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit

In [1]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
#display(melb_data)
#display(melb_data.iloc[3521, 14]/melb_data.iloc[1690, 14])
#display(melb_data.head())
#display(melb_data.tail(7))
#display(melb_data.shape)
#display(melb_data.info())
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
#melb_data.info()
#melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
#melb_data.describe(include=['object'])
#melb_data['Regionname'].value_counts()
#melb_data['Type'].value_counts(normalize=True)
#melb_data.count()
#melb_data['Price'].mean()
#melb_data['Car'].max()
#Pribylnost
#rate = 0.12
#income = melb_data['Price'].sum() * rate
#print('Total income of real estate agencies:', round(income, 2))

#Otklonenie median ot srednego
#landsize_median = melb_data['Landsize'].median() 
#landsize_mean =  melb_data['Landsize'].mean()
#print(abs(landsize_median - landsize_mean)/landsize_mean)

#print(melb_data['Rooms'].mode())
#melb_data['Regionname'].mode()
#melb_data['Propertycount'].max()
#melb_data['Distance'].std()

#Otklonenie median ot srednego
#landsize_median = melb_data['BuildingArea'].median() 
#landsize_mean =  melb_data['BuildingArea'].mean()
#print(abs(landsize_median - landsize_mean)/landsize_mean)

#melb_data['Bedroom'].value_counts(normalize=True)

#mask = melb_data['Price'] > 2000000
#display(mask)

#display(melb_data[melb_data['Price'] > 2000000].head())

#melb_data[melb_data['Rooms'] == 3].shape[0]

#melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

#melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

#melb_data[melb_data['Type'] == 't']['Rooms'].max()

#mean_price = melb_data['Price'].mean()
#melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

#melb_data[melb_data['Bathroom'] == 0].shape[0]

#melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

#melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

#display(round(melb_data[(melb_data['Price']<1e6) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt'] > 2015))]['Price'].mean()))

#melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]['Regionname'].mode()

melb_df = melb_data.copy()
#display(melb_df['Date'])

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
#display(melb_df['Date'])

years_sold = melb_df['Date'].dt.year
#print(years_sold)
#print('Min year sold:', years_sold.min())
#print('Max year sold:', years_sold.max())
#print('Mode year sold:', years_sold.mode()[0])

#melb_df['MonthSale'] = melb_df['Date'].dt.month
#melb_df['MonthSale'].value_counts(normalize=True)

#delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01') 
#display(delta_days)
#display(delta_days.dt.days)

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
#display(melb_df['AgeBuilding'])

melb_df = melb_df.drop('YearBuilt', axis=1)
#melb_df.head()

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek
#display(melb_df['WeekdaySale'].value_counts())

weekend_count = melb_df[melb_df['WeekdaySale'] == 5]['WeekdaySale'].count() + melb_df[melb_df['WeekdaySale'] == 6]['WeekdaySale'].count()
#display(weekend_count)

#print(melb_df['Address'].nunique())

#print(melb_df['Address'].loc[177])
#print(melb_df['Address'].loc[1822])
#print(melb_df['Address'].loc[9001])

# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type


street_types = melb_df['Address'].apply(get_street_type)
#display(street_types)

#print(street_types.nunique())
# 56
#nonpopular_types = ['Avenue', 'Boulevard', 'Parade']
#street_types_up = street_types.apply(map(lambda x: 'Av' if x in nonpopular_types[0], street_types))

#display(street_types.value_counts())

popular_stypes =street_types.value_counts().nlargest(10).index
#print(popular_stypes)
# Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object')

#Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет проверять,
#  есть ли строка x в этом перечне, и, если это так, lambda-функция будет возвращать x, в противном случае она будет возвращать 
# строку 'other'. Наконец, применим такую функцию к Series street_types, полученной ранее, а результат определим в новый столбец таблицы StreetType:

melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
#display(melb_df['StreetType'])

#print(melb_df['StreetType'].nunique())

melb_df = melb_df.drop('Address', axis=1)

def get_weekend(weekday):
    if weekday == 5 or weekday == 6:
        return 1
    else: 
        return 0
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
#print(round(melb_df[melb_df['Weekend']==1]['Price'].mean(), 2))
#print(melb_df['Weekend'].head(10))


#print(melb_df['SellerG'].nunique())
#print(melb_df['SellerG'].loc[177])
#print(melb_df['SellerG'].loc[1812])
#print(melb_df['SellerG'].loc[9001])


#display(melb_df['SellerG'].value_counts())
popular_seller = melb_df['SellerG'].value_counts().nlargest(49).index
#print(popular_seller)

melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_seller else 'other')
#display(melb_df['SellerG'])
#display(melb_df['SellerG'].value_counts())

a = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
b = melb_df[melb_df['SellerG'] == 'other']['Price'].min()
#print(round(a/b, 1))

# создаём пустой список
unique_list = []
# пробегаемся по именам столбцов в таблице
for col in melb_df.columns:
    # создаём кортеж (имя столбца, число уникальных значений)
    item = (col, melb_df[col].nunique(),melb_df[col].dtypes) 
    # добавляем кортеж в список
    unique_list.append(item) 
# создаём вспомогательную таблицу и сортируем её
unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_Name', 'Num_Unique', 'Type']
).sort_values(by='Num_Unique',  ignore_index=True)
# выводим её на экран
display(unique_counts)

      Column_Name  Num_Unique            Type
0         Weekend           2           int64
1            Type           3          object
2     WeekdaySale           5           int32
3          Method           5          object
4      Regionname           8          object
5           Rooms           9           int64
6        Bathroom           9           int64
7             Car          11           int64
8      StreetType          11          object
9         Bedroom          12           int64
10    CouncilArea          33          object
11        SellerG          50          object
12           Date          58  datetime64[ns]
13    AgeBuilding         152           int64
14       Postcode         198           int64
15       Distance         202         float64
16  Propertycount         311           int64
17         Suburb         314          object
18   BuildingArea         602         float64
19       Landsize        1448         float64
20          Price        2204         float64
21      Lattitude        6503         float64
22     Longtitude        7063         float64
23    Coordinates       13097          object
24          index       13580           int64